# Obtaining Data -- Intro to Web Scraping
## Pandas DataFrame

We will be using Python lists and dictionaries. If you do not remember these, please refresh.

Let us make a list of dictionaries that stores the rows of the following table:

| Fruit | Amount | Calories |
| --------
| Bananas | 1 medium | 105 |
| Blackberries | 100 berries | 100 |
| Blueberries | 125 berries | 97 |


```python
l = [{'Fruit':'Bananas','Amount':'1 medium','Calories':105},...]
```

In [178]:
# l is a list of dictionaries that represents our table
l = [
    {'Fruit':'Bananas','Amount':'1 medium','Calories':105}
    ,{'Fruit':'Blackberries','Amount':'100 berries','Calories':100}
    ,{'Fruit':'Blueberries','Amount':'125 berries','Calories':97}
    ,{'Fruit':'Pineapple','Amount':'1 thing','Calories':200}
    ]
l

[{'Amount': '1 medium', 'Calories': 105, 'Fruit': 'Bananas'},
 {'Amount': '100 berries', 'Calories': 100, 'Fruit': 'Blackberries'},
 {'Amount': '125 berries', 'Calories': 97, 'Fruit': 'Blueberries'},
 {'Amount': '1 thing', 'Calories': 200, 'Fruit': 'Pineapple'}]

### Creating a DataFrame from a list of dictionaries:

In [186]:
# Create a DataFrame to 
import pandas as pd

df = pd.DataFrame(l)
df

        Amount  Calories         Fruit
0     1 medium       105       Bananas
1  100 berries       100  Blackberries
2  125 berries        97   Blueberries
3      1 thing       200     Pineapple

In [187]:
# let us remove the first column (index)
df.set_index('Fruit')

                   Amount  Calories
Fruit
Bananas          1 medium       105
Blackberries  100 berries       100
Blueberries   125 berries        97
Pineapple         1 thing       200

### Convert Pandas DataFrame to NumPy array:

In [188]:
import numpy as np

arr = np.asarray(df)
arr # Note that the column names are lost

array([['1 medium', 105, 'Bananas'],
       ['100 berries', 100, 'Blackberries'],
       ['125 berries', 97, 'Blueberries'],
       ['1 thing', 200, 'Pineapple']], dtype=object)

In [189]:
arr.dtype # the type of data is 'O', these are Python objects

dtype('O')

In [190]:
arr.strides # 8 bytes per object

(8, 32)

In [191]:
arr.nbytes # the total size is 96 bytes (12 objects * 8 bytes)

96

In [197]:
# Let's convert these to native NumPy data fields, for instance a Unicode string:
arr.astype('U2') # Unicode string, up to 30 chars long

array([['1 ', '10', 'Ba'],
       ['10', '10', 'Bl'],
       ['12', '97', 'Bl'],
       ['1 ', '20', 'Pi']],
      dtype='<U2')

In [198]:
arr.astype('U2').nbytes

96

### Convert NumPy array to Pandas DataFrame

In [202]:
two_walks = np.random.randint(0,2,[100,2])
df = pd.DataFrame(two_walks)
df.head(8) # show only the first x rows of the dataframe

   0  1
0  1  1
1  1  1
2  1  0
3  0  0
4  0  1
5  0  0
6  0  1
7  1  1

In [203]:
df.shape

(100, 2)

In [209]:
# Let us add the column names:
col_names = ['walk'+str(x+1) for x in range(100)]
df = pd.DataFrame(np.random.randint(0,2,[100,100]), columns = col_names)
df.head()

,walk1,walk2,walk3,walk4,walk5,walk6,walk7,walk8,walk9,walk10,...,walk91,walk92,walk93,walk94,walk95,walk96,walk97,walk98,walk99,walk100
0,0,0,1,1,0,1,0,1,1,1,...,1,1,0,0,1,1,1,1,1,0
1,0,1,1,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,1,0,1
2,0,0,0,1,1,1,1,0,1,0,...,0,0,0,1,1,1,1,0,1,0
3,1,0,1,1,0,0,0,0,1,0,...,0,1,1,1,0,1,1,0,0,1
4,1,0,0,1,0,0,0,0,0,1,...,1,1,0,1,0,0,1,1,1,0

In [210]:
df.shape

(100, 100)

### Convert a Dictionary of Lists to Pandas DataFrame

In [59]:
walk1 = np.random.randint(0,2,100)
walk2 = np.random.randint(0,2,100)
random_walks = {'walk1':walk1, 'walk2':walk2}
df = pd.DataFrame(random_walks)
df.head()

   walk1  walk2
0      0      0
1      1      0
2      1      1
3      1      1
4      1      1

In [25]:
df2 = pd.DataFrame(arr, columns = ['Amount','Calories','Fruit']).set_index('Fruit')
df2

                   Amount Calories
Fruit
Bananas          1 medium      105
Blackberries  100 berries      100

In summary:

* We will store and operate with data using Pandas DataFrames (and NumPy arrays for the modeling)
* DataFrame can be created from:
    * list of dictionaries
    * dictionary of lists
    * ndarray

## Web Scraping
### Requests Library -- pull data

In [61]:
import requests

In [62]:
# get a resource:
requests.get("http://www.bvu.edu")

In [64]:
p = requests.get("http://www.bvu.edu")
type(p)

requests.models.Response

In [ ]:
p.content

In [211]:
# Another simple page:
p = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
print(p.content)

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

### BeautifulSoup -- parse HTML

In [212]:
from bs4 import BeautifulSoup

In [213]:
b = BeautifulSoup(p.content, "html.parser") # create the object
print(b.prettify()) # nice formatting

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

## Using BeautifulSoup

### Cheatsheet
```python
b = BeautifulSoup(p.content, "html.parser")
```
| Method/property | Description |
| ---| --- |
| b.children | Iterator to children |
| b.find_all(class = '...') | Iterator to classes with name '...' |
| b.find_all(id = '...') | Iterator to id '...' |


### Children

In [214]:
b.children

In [215]:
for c in b.children:
    print(c)

html


<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

In [216]:
len(list(b.children)) # there are three items in the list

3

In [220]:
l = list(b.children)
l[0] # explore what they are

'html'

In [221]:
# Print children of l[2]
l[2]

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

In [222]:
l2 = list(l[2].children)
l2

['\n', <head>
 <title>A simple example page</title>
 </head>, '\n', <body>
 <p>Here is some simple content for this page.</p>
 </body>, '\n']

In [223]:
l2[3]

<body>
<p>Here is some simple content for this page.</p>
</body>

We can use children to go as deep in HTML as needed.

### Find

In [224]:
l[2]

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

In [225]:
l[2].find('title')

In [112]:
# try searching for 'head', 'body', and 'p'
l[2].find(...)

<head>
<title>A simple example page</title>
</head>

### Text

In [116]:
# once you found what you need, use text to get the text:
l[2].find('head').text

'\nA simple example page\n'

In [118]:
# strip optionally
l[2].find('head').text.strip()

'A simple example page'

In [120]:
# What happens if you call text on l[2], i.e. the complete HTML page?

### Another web page

In [226]:
p = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")

b = BeautifulSoup(p.content, "html.parser")
print(b.prettify())

<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <div>
   <p class="inner-text first-item" id="first">
    First paragraph.
   </p>
   <p class="inner-text">
    Second paragraph.
   </p>
  </div>
  <p class="outer-text first-item" id="second">
   <b>
    First outer paragraph.
   </b>
  </p>
  <p class="outer-text">
   <b>
    Second outer paragraph.
   </b>
  </p>
 </body>
</html>

In [227]:
l = list(b.children)
l[0]

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

In [229]:
l[0].find(class_ = 'inner-text')

<p class="inner-text first-item" id="first">
                First paragraph.
            </p>

In [230]:
l[0].find(id="second")

<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>

### Find_all

In [138]:
for c in l[0].find_all(class_ = 'inner-text'):
    print(c.text.strip())

First paragraph.
Second paragraph.

In [145]:
# try .find_all(id = "first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [149]:
b.find_all(class_ = 'outer-text')

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

### Get

In [153]:
b.find_all('p')

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>, <p class="inner-text">
                 Second paragraph.
             </p>, <p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [155]:
# text will return the text b/w the tags
[t.text.strip() for t in b.find_all('p')]

['First paragraph.',
 'Second paragraph.',
 'First outer paragraph.',
 'Second outer paragraph.']

In [156]:
# get will return the attributes within the tags
[t.get('class') for t in b.find_all('p')]

[['inner-text', 'first-item'],
 ['inner-text'],
 ['outer-text', 'first-item'],
 ['outer-text']]

## Practice Time
Let us see who sells snow throwers on Craigslist in Fort Dodge

NB: Do not forget to check https://craigslist.org/robots.txt

In [381]:
url = 'https://fortdodge.craigslist.org/d/free-stuff/search/zip'
p = requests.get(url)
b = BeautifulSoup(p.content, "html.parser")

In [382]:
rows = b.find_all(class_ = 'result-row')

In [ ]:
for r in rows:
    try:
        caption = r.find(class_ = 'result-title hdrlnk').text
        location = r.find(class_ = 'result-hood').text
    except:
        pass
    print(caption,location)

## Everything from Craigslist in Ft. Dodge area

In [388]:
url = 'https://fortdodge.craigslist.org/search/sss?'
p = requests.get(url)
b = BeautifulSoup(p.content, "html.parser")
rows = b.find_all(class_ = 'result-row')

In [399]:
caption = rows[0].find(class_ = 'result-title hdrlnk').text
location = rows[0].find(class_ = 'result-hood').text
price = rows[0].find(class_ = 'result-price').text
posted = rows[0].find(class_ = 'result-date').get('datetime')
print(caption,location,price,posted)

2019 PJ TRAILERS 102X25 GOOSENECK DECKOVER FLATBED LOPRO TRAILER  (Holt) $11000 2019-03-06 10:51

In [403]:
l = []
for r in rows:
    caption = r.find(class_ = 'result-title hdrlnk').text
    try:
        location = r.find(class_ = 'result-hood').text
    except:
        location = None
    try:
        price = r.find(class_ = 'result-price').text
    except:
        price = None
    posted = r.find(class_ = 'result-date').get('datetime')
    d = dict(zip(['caption','location','price','posted'],
                [caption,location,price,posted]))
    l.append(d)

In [ ]:
def scrape_url(url):
    p = requests.get(url)
    b = BeautifulSoup(p.content, "html.parser")
    rows = b.find_all(class_ = 'result-row')
    
    l = []
    for r in rows:
        caption = r.find(class_ = 'result-title hdrlnk').text
        try:
            location = r.find(class_ = 'result-hood').text
        except:
            location = None
        try:
            price = r.find(class_ = 'result-price').text
        except:
            price = None
        posted = r.find(class_ = 'result-date').get('datetime')
        d = dict(zip(['caption','location','price','posted'],
                    [caption,location,price,posted]))
        l.append(d)
    return l

scrape_url('https://fortdodge.craigslist.org/search/sss?')

In [414]:
import time

In [409]:
l = []
for st in range(0,1750,120):
    url = 'https://fortdodge.craigslist.org/search/sss?s=%d'%st
    l = l + scrape_url(url)
    print('Processed %d, total %d '%(st,len(l)))
    sleep(2)

Processed 0, total 120
Processed 120, total 240
Processed 240, total 360
Processed 360, total 480
Processed 480, total 600
Processed 600, total 720
Processed 720, total 840
Processed 840, total 960
Processed 960, total 1080
Processed 1080, total 1200
Processed 1200, total 1320
Processed 1320, total 1440
Processed 1440, total 1560
Processed 1560, total 1680
Processed 1680, total 1744

In [411]:
df = pd.DataFrame(l)
df.shape

(1744, 4)

In [ ]:
df.groupby('location').count()

## Indeed.com

In [554]:
url = 'https://www.indeed.com/jobs?q=data+scientist&l=Iowa+City%2C+IA'
p = requests.get(url)
b = BeautifulSoup(p.content, "html.parser")

In [567]:
rows = b.find_all(class_ = 'jobsearch-SerpJobCard')
rows[3]

<div class="jobsearch-SerpJobCard row sjlast result" data-ci="267672326" data-empn="7937733348923960" data-jk="018c9eb8199e624c" data-tu="" id="pj_018c9eb8199e624c">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0Ay34pLxNpM2b2APydG9FPHc7HhqjeNrk9_gDXaaFM3GgPuMqNnt0SwtRdFxrty7Yxz5N_-XsSGo7EwB9Pr_KR9iclF_5NCD_eV6r2hA8lFXPFKfQygebkgmzDyVLARwyyO1sfOfPsQfBabP9UefcLyCfTS8SKTR1X3oXZK3ag7p3EFNzmfeHVYPKHKHlQ9EPFql1UEeuzX7JGqz5o-tsDA5es_9P3gCnsRRpkuZoDFnvbEcupQ4CLi7IYGEFu8Sou7FnzqAyY-6yFVBeHnW-O7cV29i2hEsLg2oDmHstICw0pJ6jHmp5ZNM6Qx-RCZxtGZEQ_-DUZPayrSYDugbJq7MpGIl-n3Rg0z3OoFMhQ-YhxsulYZrDXFVXmLO9mnev00c9vDwbW_TQWFwp7lMVZX6id0dsT4mlxAWjQO0JGgnO9GaCrsZ2lLrrjrx5j2rRKhfpFCX9W6E_qxTL8F44Gf-nWGgT1K43YuFT3uos9GFQ==&amp;vjs=3&amp;p=4&amp;sk=&amp;fvj=1" id="sja4" onclick="setRefineByCookie([]); sjoc('sja4',1); convCtr('SJ')" onmousedown="sjomd('sja4'); clk('sja4');" rel="noopener nofollow" target="_blank" title="Life Insurance Agent (Remote) - Free leads / No marketing costs">Life Insurance Agent (Remote) - Free leads / No marketing co...</a>
<br/>
<div class="sjcl"><div>
<span class="company">
<a class="turnstileLink" data-tn-element="companyName" href="/cmp/Assurance-7b737553" onmousedown="this.href = appendParamsOnce(this.href, 'from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=018c9eb8199e624c&amp;jcid=863bd584681e871f')" rel="noopener" target="_blank">
        ASSURANCE</a></span>
<a class="ratingsLabel" data-tn-element="reviewStars" data-tn-variant="cmplinktst2" href="/cmp/Assurance-7b737553/reviews" onmousedown="this.href = appendParamsOnce(this.href, '?campaignid=cmplinktst2&amp;from=SERP&amp;jt=Life+Insurance+Agent+%28Remote%29+-+Free+leads+%5C%2F+No+marketing+costs&amp;fromjk=018c9eb8199e624c&amp;jcid=863bd584681e871f');" rel="noopener" target="_blank" title="Assurance reviews">
<span class="ratings"><span class="rating" style="width:43.2px"><!-- --></span></span>
<span class="slNoUnderline">40 reviews</span></a>
</div><div class="location">United States</div></div>
<div class="recJobLoc" data-rc-loc="United States" id="recJobLoc_018c9eb8199e624c" style="display: none">
</div>
<div class="paddedSummary">
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td class="snip">
<div class="salarySnippet">
<span class="salary no-wrap">
                $50,000 - $125,000 a year</span>
</div>
<span class="summary">
                            Our team of engineers, <b>data</b> <b>scientists</b>, marketers, architects, and designers are building systems using advanced science to make humans better....</span>
</td></tr></table>
</div>
<div class="sjCapt">
<div class="result-link-bar-container">
<div class="result-link-bar"><span class=" sponsoredGray ">Sponsored</span> - <span class="tt_set" id="tt_set_13"><a class="sl resultLink save-job-link " href="#" id="sj_018c9eb8199e624c" onclick="changeJobState('018c9eb8199e624c', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">save job</a></span><div class="edit_note_content" id="editsaved2_018c9eb8199e624c" style="display:none;"></div><script>if (!window['sj_result_018c9eb8199e624c']) {window['sj_result_018c9eb8199e624c'] = {};}window['sj_result_018c9eb8199e624c']['showSource'] = false; window['sj_result_018c9eb8199e624c']['source'] = "Indeed"; window['sj_result_018c9eb8199e624c']['loggedIn'] = false; window['sj_result_018c9eb8199e624c']['showMyJobsLinks'] = false;window['sj_result_018c9eb8199e624c']['undoAction'] = "unsave";window['sj_result_018c9eb8199e624c']['jobKey'] = "018c9eb8199e624c"; window['sj_result_018c9eb8199e624c']['myIndeedAvailable'] = true; window['sj_result_018c9eb8199e624c']['showMoreActionsLink'] = window['sj_result_018c9eb8199e624c']['showMoreActionsLink'] || false; window['sj_result_018c9eb8199e624c']['resultNumber'] = 13; window['sj_result_018c9eb8199e624c']['jobStateChangedToSaved'] = false; window['sj_result_018c9eb8199e624c']['searchState'] = "q=data scientist&amp;l=Iowa+City%2C+IA"; window['sj_result_018c9eb8199e624c']['basicPermaLink'] = "https://www.indeed.com"; window['sj_result_018c9eb8199e624c']['saveJobFailed'] = false; window['sj_result_018c9eb8199e624c']['removeJobFailed'] = false; window['sj_result_018c9eb8199e624c']['requestPending'] = false; window['sj_result_018c9eb8199e624c']['notesEnabled'] = false; window['sj_result_018c9eb8199e624c']['currentPage'] = "serp"; window['sj_result_018c9eb8199e624c']['sponsored'] = true;window['sj_result_018c9eb8199e624c']['showSponsor'] = true;window['sj_result_018c9eb8199e624c']['reportJobButtonEnabled'] = false; window['sj_result_018c9eb8199e624c']['showMyJobsHired'] = false; window['sj_result_018c9eb8199e624c']['showSaveForSponsored'] = true; window['sj_result_018c9eb8199e624c']['showJobAge'] = true;</script></div></div>
<div class="tab-container">
<div class="sign-in-container result-tab"></div>
<div class="tellafriend-container result-tab email_job_content"></div>
</div>
</div>
</div>

In [572]:
rows = b.find_all(class_ = 'jobsearch-SerpJobCard')
rows[1].find(class_='location').text.strip()

'Cedar Rapids, IA 52401'

In [574]:

column_names = ['job_title','company','job_desc','salary','location']
l = []
for r in rows:
    try:
        job_title = r.find(class_='jobtitle turnstileLink').get('title').strip()
    except:
        job_title = None
    company = r.find(class_='company').text.strip()
    job_desc = r.find(class_='summary').text.strip()
    try:
        salary = r.find(class_='salary no-wrap').text.strip()
    except:
        salary = None
    location = r.find(class_='location').text.strip()
    d = dict(zip(column_names,[job_title,company,job_desc,salary,location]))
    l.append(d)

In [ ]:
def get_jobs(url):
    p = requests.get(url)
    b = BeautifulSoup(p.content, "html.parser")
    column_names = ['job_title','company','job_desc','salary','location']
    l = []
    for r in b.find_all(class_ = 'jobsearch-SerpJobCard'):
        try:
            job_title = r.find(class_='jobtitle turnstileLink').get('title').strip()
        except:
            job_title = None
        company = r.find(class_='company').text.strip()
        job_desc = r.find(class_='summary').text.strip()
        try:
            salary = r.find(class_='salary no-wrap').text.strip()
        except:
            salary = None
        location = r.find(class_='location').text.strip()
        d = dict(zip(column_names,[job_title,company,job_desc,salary,location]))
        l.append(d)
    return l

get_jobs('https://www.indeed.com/jobs?q=data+scientist&l=Iowa+City%2C+IA')

In [579]:
url = 'https://www.indeed.com/jobs?q=data+scientist&l=Iowa+City,+IA&start=%d'

l = []
for page in range(0,41,10):
    print(url%page)
    l = l + get_jobs(url%page)
    sleep(2)

https://www.indeed.com/jobs?q=data+scientist&l=Iowa+City,+IA&start=0
https://www.indeed.com/jobs?q=data+scientist&l=Iowa+City,+IA&start=10
https://www.indeed.com/jobs?q=data+scientist&l=Iowa+City,+IA&start=20
https://www.indeed.com/jobs?q=data+scientist&l=Iowa+City,+IA&start=30
https://www.indeed.com/jobs?q=data+scientist&l=Iowa+City,+IA&start=40

## Pandas DataFrame and saving it to CSV

In [581]:
import pandas as pd

In [597]:
df = pd.DataFrame(l) # Make a dataframe
df.set_index('job_title', inplace = True)
df.to_csv('jobs.csv')
df.head()

,company,job_desc,location,salary
job_title,,,,
Data Scientist (Tier-1 school education; 3-5+ years US work experience),Confidential Client (Full time),A fast growing startup is looking for several ...,United States,None
Actuarial Analyst,Cedar Rapids,"Knowledge of SAS, R, and data visualization so...","Cedar Rapids, IA 52401",None
Life Insurance Agent (Remote) - No marketing costs,ASSURANCE,"Our team of engineers, data scientists, market...",United States,"$50,000 - $125,000 a year"
NaN,United Fire Group,"Research, analyze and understand complex regul...","Cedar Rapids, IA",None
NaN,College Raptor,Please send a resume and a cover letter explai...,"Iowa City, IA",None

In [598]:
%cat jobs.csv | head -2

job_title,company,job_desc,location,salary
Data Scientist (Tier-1 school education; 3-5+ years US work experience),Confidential Client (Full time),"A fast growing startup is looking for several data scientist that have used classification, time series analysis, regression, association rules mining, and...",United States,

In [600]:
df2 = pd.read_csv('./data/jobs.csv', index_col = 'job_title')
df2.head()

,company,job_desc,location,salary
job_title,,,,
Data Scientist (Tier-1 school education; 3-5+ years US work experience),Confidential Client (Full time),A fast growing startup is looking for several ...,United States,NaN
Actuarial Analyst,Cedar Rapids,"Knowledge of SAS, R, and data visualization so...","Cedar Rapids, IA 52401",NaN
Life Insurance Agent (Remote) - No marketing costs,ASSURANCE,"Our team of engineers, data scientists, market...",United States,"$50,000 - $125,000 a year"
NaN,United Fire Group,"Research, analyze and understand complex regul...","Cedar Rapids, IA",NaN
NaN,College Raptor,Please send a resume and a cover letter explai...,"Iowa City, IA",NaN

## Data Preprocessing in Pandas

### Here is a brief summary of regular expressions

The data to extract will be placed into groups (). For instance, "() () ()" extracts three groups

* \w -- any word character
* [A-D] -- uppercase A,B,C, and D
* \w* -- one or many word characters
* \w+ -- more than one word character
* \w{5} -- exactly five word characters
* [\w ]{10} -- exactly 10 characters or spaces
* [0-9] -- one digit
* ,\s\*(\w\w) -- , zero or more spaces and exactly two characters to extract state: ", IA"

In [495]:
df.head()

,company,job_desc,job_title,location,salary
0,"Novateur Research Solutions, LLC",Novateur Research Solutions is looking for res...,Machine Learning Research Scientist (US Citize...,United States,None
1,Cedar Rapids,"Knowledge of SAS, R, and data visualization so...",Actuarial Analyst,"Cedar Rapids, IA 52401",None
2,ASSURANCE,"Our team of engineers, data scientists, market...",Life Insurance Agent (Remote) - Free leads / N...,United States,"$50,000 - $125,000 a year"
3,College Raptor,Please send a resume and a cover letter explai...,Data Scientist and Algorithm Engineer,"Iowa City, IA",None
4,United Fire Group,"Research, analyze and understand complex regul...",Statistical Reporting Analyst,"Cedar Rapids, IA",None

In [ ]:
zip_code = df['location'].str.extract('([0-9]{5})')
zip_code

In [ ]:
state = df['location'].str.extract(', ([A-Z]{2})')
state

In [ ]:
town = df['location'].str.extract('([\w ]+),')
town

In [ ]:
df['salary'].str.extract('(\$\d+,\d+) - (\$\d+,\d+) ([\w ]+)')